@font-face {
  font-family: "ZCOOL KuaiLe";
  src: url("../fonts/ZCOOLKuaiLe-Regular.ttf");
}

@font-face {
  font-family: "Miniver";
  src: url("../fonts/Miniver-Regular.ttf");
}

@font-face {
  font-family: "Rouge Script";
  src: url("../fonts/RougeScript-Regular.ttf");
}
